In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('PRODUCTS.csv',low_memory=False, sep='|')

In [3]:
df.columns

Index(['SKU', 'BUY_UNIT', 'DESCRIPTION_STATUS', 'ORGANIC_ITEM', 'KIRLAND_ITEM',
       'FINELINE_NUMBER', 'EAN', 'ITEM_NAME', 'ITEM_DESCRIPTION', 'ITEM_IMG',
       'CATEGORY', 'SUB_CATEGORY', 'SUB_SUB_CATEGORY', 'BRAND_NAME'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321542 entries, 0 to 321541
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SKU                 321542 non-null  int64
 1   BUY_UNIT            214457 non-null  object
 2   DESCRIPTION_STATUS  257014 non-null  object
 3   ORGANIC_ITEM        214371 non-null  object
 4   KIRLAND_ITEM        321542 non-null  bool
 5   FINELINE_NUMBER     321542 non-null  int64
 6   EAN                 321542 non-null  int64
 7   ITEM_NAME           321530 non-null  object
 8   ITEM_DESCRIPTION    321542 non-null  object
 9   ITEM_IMG            321542 non-null  object
 10  CATEGORY            320066 non-null  object
 11  SUB_CATEGORY        320066 non-null  object
 12  SUB_SUB_CATEGORY    320066 non-null  object
 13  BRAND_NAME          321410 non-null  object
dtypes: bool(1), int64(3), object(10)
memory usage: 32.2+ MB

In [5]:
# looking at store by store basis.
dfg = df.groupby("BUY_UNIT")
dfg

In [6]:
dfg.mean()

                    SKU  KIRLAND_ITEM  FINELINE_NUMBER           EAN
BUY_UNIT
KG        160644.008556      0.498900    502350.103135  3.951203e+12
UN        160667.480669      0.498876    498125.929956  3.977127e+12