In [1]:
import pandas as pd
import numpy as np

In [2]:
dfo = pd.read_csv("flights.csv", low_memory=False)
df = dfo.set_index(["DESTINATION_AIRPORT", "AIRLINE"])
df = df.sort_index()
df.head()

                             YEAR  MONTH  DAY  DAY_OF_WEEK  FLIGHT_NUMBER  \
DESTINATION_AIRPORT AIRLINE
10135               DL       2015     10    1            4           2582
                    DL       2015     10    2            5           2582
                    DL       2015     10    3            6           2582
                    DL       2015     10    4            7           2582
                    DL       2015     10    5            1           2582

                            TAIL_NUMBER ORIGIN_AIRPORT  SCHEDULED_DEPARTURE  \
DESTINATION_AIRPORT AIRLINE
10135               DL           N993AT          10397                 2106
                    DL           N954AT          10397                 2106
                    DL           N955AT          10397                 2106
                    DL           N980AT          10397                 2106
                    DL           N993AT          10397                 2106

                             DEPARTURE_TIME  DEPARTURE_DELAY  ...  \
DESTINATION_AIRPORT AIRLINE                                   ...
10135               DL               2103.0             -3.0  ...
                    DL               2104.0             -2.0  ...
                    DL               2104.0             -2.0  ...
                    DL               2059.0             -7.0  ...
                    DL               2107.0              1.0  ...

                             ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
DESTINATION_AIRPORT AIRLINE
10135               DL             2257.0          -14.0         0          0
                    DL             2257.0          -14.0         0          0
                    DL             2253.0          -16.0         0          0
                    DL             2258.0          -13.0         0          0
                    DL             2312.0            1.0         0          0

                             CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
DESTINATION_AIRPORT AIRLINE
10135               DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN

                             SECURITY_DELAY  AIRLINE_DELAY  \
DESTINATION_AIRPORT AIRLINE
10135               DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN

                             LATE_AIRCRAFT_DELAY  WEATHER_DELAY
DESTINATION_AIRPORT AIRLINE
10135               DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN

[5 rows x 29 columns]

In [3]:
df.index

MultiIndex([('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ('10135', 'DL'),
            ...
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO'),
            (  'YUM', 'OO')],
           names=['DESTINATION_AIRPORT', 'AIRLINE'], length=5819079)

In [4]:
# From numpy arrays
airlines = dfo.AIRLINE.to_numpy()
dests = dfo.DESTINATION_AIRPORT.to_numpy()

In [5]:
display(airlines,dests)

array(['AS', 'AA', 'US', ..., 'B6', 'B6', 'B6'], dtype=object)

array(['SEA', 'PBI', 'CLT', ..., 'SJU', 'SJU', 'BQN'], dtype=object)

In [6]:
pd.MultiIndex.from_arrays([airlines, dests])

MultiIndex([('AS', 'SEA'),
            ('AA', 'PBI'),
            ('US', 'CLT'),
            ('AA', 'MIA'),
            ('AS', 'ANC'),
            ('DL', 'MSP'),
            ('NK', 'MSP'),
            ('US', 'CLT'),
            ('AA', 'DFW'),
            ('DL', 'ATL'),
            ...
            ('B6', 'JFK'),
            ('B6', 'JFK'),
            ('B6', 'MCO'),
            ('B6', 'JFK'),
            ('B6', 'JFK'),
            ('B6', 'BOS'),
            ('B6', 'PSE'),
            ('B6', 'SJU'),
            ('B6', 'SJU'),
            ('B6', 'BQN')],
           length=5819079)

In [7]:
# From a list of tuples.
tups = [tuple(x) for x in dfo[["DESTINATION_AIRPORT", "AIRLINE"]][:10].to_numpy()]

In [8]:
tups

[('SEA', 'AS'),
 ('PBI', 'AA'),
 ('CLT', 'US'),
 ('MIA', 'AA'),
 ('ANC', 'AS'),
 ('MSP', 'DL'),
 ('MSP', 'NK'),
 ('CLT', 'US'),
 ('DFW', 'AA'),
 ('ATL', 'DL')]

In [9]:
pd.MultiIndex.from_tuples(tups)

MultiIndex([('SEA', 'AS'),
            ('PBI', 'AA'),
            ('CLT', 'US'),
            ('MIA', 'AA'),
            ('ANC', 'AS'),
            ('MSP', 'DL'),
            ('MSP', 'NK'),
            ('CLT', 'US'),
            ('DFW', 'AA'),
            ('ATL', 'DL')],
           )

In [12]:
# If you have a cross product
#   Just like the one from the merging example. Students,years semesters.
pd.MultiIndex.from_product([[1, 2, 3], [2000, 2001], ["Sem 1", "Sem 2"]])

MultiIndex([(1, 2000, 'Sem 1'),
            (1, 2000, 'Sem 2'),
            (1, 2001, 'Sem 1'),
            (1, 2001, 'Sem 2'),
            (2, 2000, 'Sem 1'),
            (2, 2000, 'Sem 2'),
            (2, 2001, 'Sem 1'),
            (2, 2001, 'Sem 2'),
            (3, 2000, 'Sem 1'),
            (3, 2000, 'Sem 2'),
            (3, 2001, 'Sem 1'),
            (3, 2001, 'Sem 2')],
           )

In [13]:
# Naming your index
index = pd.MultiIndex.from_product([[1, 2, 3], [2000, 2001], ["Sem 1", "Sem 2"]])
index.names=["Student","Year","Sem"]
index

MultiIndex([(1, 2000, 'Sem 1'),
            (1, 2000, 'Sem 2'),
            (1, 2001, 'Sem 1'),
            (1, 2001, 'Sem 2'),
            (2, 2000, 'Sem 1'),
            (2, 2000, 'Sem 2'),
            (2, 2001, 'Sem 1'),
            (2, 2001, 'Sem 2'),
            (3, 2000, 'Sem 1'),
            (3, 2000, 'Sem 2'),
            (3, 2001, 'Sem 1'),
            (3, 2001, 'Sem 2')],
           names=['Student', 'Year', 'Sem'])

In [ ]:
# MultIndex or colums